.header {
    background-color: #2D2F3D;
    height: 70px;
    max-width: 370px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10; /* Garante que o cabeçalho fique acima de outros elementos */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 20px 20px;
}

.header-logo {
    max-height: 50px; /* Ajuste para a logo se encaixar bem */
    height: auto;
}
